.main {
    /* background-image: url('https://pbs.twimg.com/profile_images/858023176671870977/tCECTnhP.jpg'); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    
    /* height: 100vh; */
    min-height: 100vh;
    margin: 0;
}

h1 {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 20px;
    padding-top: 10px;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right , #00838f, #1565c0, #4527a0, #283593);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

p {
    /* margin-bottom: 10px; */
    display: flex;
    justify-content: center;
    margin-top: 0;
    padding-top: 0;
    /* padding-bottom: 20px; */
    /* padding-top: 10px; */
    /* font-size: 35px; */
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right , #00838f, #1565c0, #4527a0, #283593);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}